node_modules
npm-debug.log
pnpm-debug.log
dist
build

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

.git
.gitignore

README.md
.vscode
.idea
*.swp
*~

tmp
temp
*.tmp
*.temp

*.md
*.log
coverage
.DS_Store
docker-compose.yml
docker-compose.*.yml
.github

.prisma